<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="card col-lg-10 col-sm-12 my-5">
        <div class="card-body">
          <h5 class="card-title"><%= forum.title %> </h5>
          <h6 class="card-text text-muted"><%= forum.author.username %> </h6>
          <p class="card-text"><%= forum.body  %> </p>
          <div class="row col-lg-6 d-flex flex-row">
          <a href="/forum" class="btn btn-sm btn-primary m-1">Back to forum</a>
          <% if( currentUser && forum.author.equals(currentUser._id) || currentUser.username === admin) { %> 
          <form action="/forum/<%= forum._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger m-1 btn-sm">Delete</button>
        </form>
        <% } %> 
          </div>
        </div>
    </div>
    <h3>Community Answers</h3>
    <% if(currentUser) { %> 
    <form action="/forum/<%= forum._id %>/comments" method="POST" novalidate class="validated-form">
      <div class="card col-lg-10 col-sm-12 my-2">
        <label for="body" class="py-3 form-label">Leave your reply</label>
        <textarea class="form-control mb-3" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
        <button class="btn btn-success btn-sm mb-3">Submit Reply</button>
      </div>
    </form>
    <% } %> 
    <div class="card col--lg-10 col-sm-12 my-2">
    <% for(let comment of forum.comments) { %> 
      <div class="card col-12 my-2">
        <h5 class="card-title mt-2"><%= comment.author.username %>:</h5>
        <p><%= comment.body %></p>
        <% if( currentUser && comment.author.equals(currentUser._id) || currentUser.username === admin) { %> 
          <form action="/forum/<%= forum._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm mb-2">Delete</button>
        </form>
        <% } %> 
      </div>
      <% } %>
    </div> 
</div>
